<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="5">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<File name="logFile" fileName="c:/logs/app.log">
			<PatternLayout>
				<Pattern>%d %p %c{9.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

	</Appenders>
	<Loggers>

		<Logger name="br.com.calcard" level="ERROR">
			<AppenderRef ref="logFile" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>
</Configuration>